﻿@model IEnumerable<WebApplication1.Models.Project>


    <div class="table-responsive">
        <table id="viewStaff" class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Project ID</th>
                    <th>Title</th>
                    <th>Project Poster</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.ProjectId.ToString()</td>
                        <td>@item.Title</td>
                        <td>
                            @{ string imageFileName = item.ProjectPoster; }
                            <img src="~/images/@imageFileName"
                                 style="width:50px" />
                        </td>
                        <td>
                            <a asp-action="Edit" asp-controller="ProjectPortfolio"
                               asp-route-id="@item.ProjectId">Edit</a> |
                            <a asp-action="Details" asp-controller="ProjectPortfolio"
                               asp-route-id="@item.ProjectId">Details</a> |
                            <a asp-action="UploadPhoto" asp-controller="ProjectPortfolio"
                               asp-route-id="@item.ProjectId">Upload Poster</a>
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>