﻿@model WebApplication1.Models.Project

@{
    ViewData["Title"] = "CreateProject";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}

<h4 class="PageTitle">Add Project Portfolio</h4>
<hr />
<form asp-action="CreateProject">
    <fieldset class="FormContent">
        <div class="form-group row">
            <label asp-for="Title"
                   class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <input asp-for="Title" class="form-control" required />
                <span asp-validation-for="Title"
                      class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Description"
                   class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <input asp-for="Description" class="form-control" required />
                <span asp-validation-for="Description"
                      class="text-danger"></span>
            </div>
        </div>
        <p style="padding:2px 15px;">
            @{
                string userId = "Anonymous";
                string userRole = "Unknown";
                string id = null;
                if (Context.Session.GetString("Role") != null)
                {
                    userRole = Context.Session.GetString("Role");
                }
                if (Context.Session.GetString("Name") != null)
                {
                    userId = Context.Session.GetString("Name");

                }
            }
            PROJECT LEADER:&nbsp;
            <span style="font-weight:bold">@userId </span>
           
        </p>

        <div class="form-group row">
            <div class="col-sm-9 offset-sm-3">
                <input type="submit" value="Create"
                       class="btn btn-primary" />
            </div>
        </div>
        <div>
            <a asp-action="ViewProject">Back to List</a>
        </div>
    </fieldset>
</form>
