﻿@model WebApplication1.Models.ProjectViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}

<h4 class="PageTitle">View Staff Details</h4>
<hr />
<fieldset class="FormContent">
    <div class="form-group row">
        <div class="form-group row">
            <label asp-for="ProjectPoster" class="col-sm-3 col-form-label"></label>
            <div class="gg">
                <img style="align-content:center;height:auto;width:20%;" src="~/images/@Model.ProjectPoster" />
            </div>
        </div>

        <label asp-for="ProjectId"
               class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9 form-control-plaintext">
            @Html.Display("ProjectId")
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="ProjectTitle" class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9 form-control-plaintext">
            @Html.Display("ProjectTitle")
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="Description" class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9 form-control-plaintext">
            @Html.Display("Description")
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="ProjectURL"
               class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9 form-control-plaintext">
            @Html.Display("ProjectURL")
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-9 offset-sm-3">
            <a asp-action="" asp-controller="ProjectPortfolio"
               asp-route-id="@Model.ProjectId">Edit</a> |
            <a asp-action="ViewProject"
               asp-controller="ProjectPortfolio">Back to List</a>
            <a asp-action="UploadPhoto"
               asp-route-id="@Model.ProjectId">Upload Photo</a>
        </div>
    </div>

</fieldset>
