﻿@model WebApplication1.Models.ProjectViewModel

@{
    ViewData["Title"] = "UploadPhoto";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}

<h4 class="PageTitle">Upload Staff Photo</h4>
<hr />
<form asp-action="UploadPhoto" enctype="multipart/form-data">
    <fieldset class="FormContent">
        <div class="form-group row">
            <label asp-for="ProjectId"
                   class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <input asp-for="ProjectId" readonly
                       class="form-control-plaintext" />
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="ProjectTitle"
                   class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <input asp-for="ProjectTitle" readonly
                       class="form-control-plaintext" />
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="ProjectPoster"
                   class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9">
                <img style="width:180px;" src="~/images/@Model.ProjectPoster" />
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="FileToUpload"
                   class="col-sm-3 col-form-label">
                New Photo (jpg format)
            </label>
            <div class="col-sm-9">
                <input asp-for="FileToUpload" accept="image/jpeg" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-9 offset-sm-3">
                <input type="submit" value="Upload"
                       class="btn btn-primary" />
                <span style="color:red;">@ViewData["Message"]</span>
            </div>
        </div>
        <div>
            <a asp-action="ViewProject">Back to List</a>
        </div>
    </fieldset>
</form>
