﻿@model IEnumerable<WebApplication1.Models.Project>

@{
    ViewData["Title"] = "ViewProject";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}

<h4 class="PageTitle">View Portfolio</h4>
<p><a asp-action="CreateProject">Create New Portfolio</a></p>
<!-- Add a partial view to display a list of staff records
 in a tabular format. -->
<partial name="~/Views/ProjectPortfolio/_ViewProject.cshtml" model="@Model" />