﻿@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="~/Home/LecturerHome">ABC Polytechnic</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="~/SkillSet/Index">View SkillSet</a>             
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="~/Lecturer/ViewSuggestion">View Suggestions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="~/Lecturer/ViewMentees">View Mentees</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="~/Lecturer/UpdatePassword">Update Password</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="~/Home/LogOut">LogOut</a>
                </li>
            </ul>
        </div>
    </div>
</nav>