﻿@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="~/Student/Index">ABC Polytechnic</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <div class="dropdown">
                        <a class="nav-link">
                            Project Portfolio
                            <i class="fa fa-caret-down"></i>
                        </a>
                        <div class="dropdown-content">
                            <a href="~/ProjectPortfolio/ViewProject">View Project</a>
                            <a href="~/ProjectPortfolio/CreateProject">Create Project</a>
                        </div>
                    </div>

                </li>
                <li class="nav-item">
                    <a class="nav-link" href="~/Student/Update">Update Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="~/Student/ViewMentor">Inbox Suggestion</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">References</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="~/Home/LogOut">LogOut</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
