﻿@model IEnumerable<WebApplication1.Models.Suggestion>

@if (Model.ToList().Count > 0)
{
    <div class="table-responsive">
        <table id="viewskills" class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Lecturer ID</th>
                    <th>Lecturer Name</th>
                    <th>Description</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.SuggestionID</td>
                        <td>@item.LecturerID.ToString()</td>
                        <td>@item.LecturerName</td>
                        <td>@item.Description</td>
                        <td>@item.Status</td>
                        <td>
                          
                                <a asp-action="Acknowledge" asp-controller="Student"
                                   asp-route-SuggestionID="@item.SuggestionID">Acknowledge</a>
                            
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <div class="table-responsive">
        <table id="viewskills" class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Lecturer ID</th>
                    <th>Lecturer Name</th>
                    <th>Description</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>

            </thead>
            <tbody>
                <tr>
                <td colspan="6"><span style="color:red; font-size:40px; position:center;">No record found!</span></td>

                </tr>

             </tbody>
        </table>
    </div>
}
