﻿@model WebApplication1.Models.Student

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/StudentLogin.css" />
    <title>Student Create | ABCPolytechnic</title>
</head>
<body>
    <nav>
        @Html.Partial("_HomeMenu")
    </nav>

    <main class="login-form">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header">Student Create</div>
                        <div class="card-body">
                            <form asp-action="StudentCreate">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group row">
                                    <label asp-for="Name" class="col-md-4 col-form-label text-md-right"></label>
                                    <div class="col-md-6">
                                        <input asp-for="Name" class="form-control" required autofocus />
                                    </div>
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                                <div class="form-group row">
                                    <label asp-for="EmailAddr" class="col-md-4 col-form-label text-md-right"></label>
                                    <div class="col-md-6">
                                        <input asp-for="EmailAddr" class="form-control" required />
                                        <span asp-validation-for="EmailAddr" class="text-danger"></span>
                                    </div>

                                </div>
                                <div class="form-group row">
                                    <label asp-for="Password" class="col-md-4 col-form-label text-md-right"></label>
                                    <div class="col-md-6">
                                        <input asp-for="Password" readonly class="form-control" />
                                    </div>
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                                <div class="form-group row">
                                    <label asp-for="MentorID" class="col-md-4 col-form-label text-md-right"></label>
                                    <div class="col-sm-5 col-md-2">
                                        <select asp-for="MentorID" asp-items="@ViewData["MentorList"]
                                    as List<SelectListItem>" class="form-control" required></select>
                                        <span asp-validation-for="MentorID" class="text-danger"></span>
                                    </div>
                                    <span asp-validation-for="MentorID" class="text-danger"></span>
                                </div>
                                <div class="col-md-6 offset-md-4">
                                    <input type="submit" value="Create Student" class="btn btn-primary" />
                                </div>
                                <br />
                                <span style="color:red;">@TempData["Message"]</span>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>
</html>
