﻿@model WebApplication1.Models.StudentUpdate

@{
    ViewData["Title"] = "Update Student";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}

<h2>Update Profile</h2>

<h4>Student</h4>
<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-action="Update">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group row">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" rows="7" required> </textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <input asp-for="StudentID" type="hidden" />
            <input asp-for="Photo" type="hidden" />
            <div class="form-group row">
                <label asp-for="Achievement" class="control-label"></label>
                <textarea asp-for="Achievement" class="form-control" rows="5" required></textarea>
                <span asp-validation-for="Achievement" class="text-danger" ></span>
            </div>
            <div class="form-group row">
                <label asp-for="SkillSetID" class="control-label"></label>
                <div class="col-sm-5 col-md-5">
                    <select asp-for="SkillSetID" asp-items="@ViewData["SkillList"]
            as List<SelectListItem>" class="form-control"></select>
                    <span asp-validation-for="SkillSetID" class="text-danger"></span>    
                    <span style="color:red;">@TempData["NoSkills"]</span>
                </div>
            </div>
            <div class="form-group row">
                <input type="submit" value="Save" class="btn btn-primary" />
                &nbsp;
                <a asp-action="UploadPhoto" asp-route-id="@Model.StudentID" class="btn btn-primary">Upload Photo</a>
            </div>
        </form>
    </div>
</div>

