﻿
@{
    ViewData["Title"] = "UpdateSuccess";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}

<script type="text/javascript">
    var ss = 5;
    function countdown() {
        ss = ss - 1;
        if (ss < 0) {
            window.location.href = "Index";
        }
        else {
            document.getElementById("countdown").innerHTML = ss;
            window.setTimeout("countdown()", 1000);
        }
    }
</script>

<body onload="countdown()">
    <center>
        <table width="100%" height="400px" style="text-align:center;">
            <tr><td valign="center"><h3>Thank you for Updating !!</h3></td></tr>
            <tr><td valign="center"><h4>Redirecting in (<span id="countdown" style="color:green;">5</span>)</h4></td></tr>
        </table>
    </center>
</body>

