﻿@model WebApplication1.Models.StudentUpdate

@{
    ViewData["Title"] = "Upload Photo";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}

<h2>Upload Photo</h2>

<h4>Student</h4>
<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-action="UploadPhoto" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>


            <input asp-for="StudentID" type="hidden" />
            <input asp-for="Name" type="hidden" />
            <input asp-for="Description" type="hidden" />
            <input asp-for="Achievement" type="hidden" />
            <input asp-for="SkillSetID" type="hidden" />
            <div class="form-group row">
                <label asp-for="Photo"
                       class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9">
                    <img src="~/images/Student/@Model.Photo" style="width:300px; height:auto" />
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="FileToUpload"
                       class="col-sm-3 col-form-label">
                    New Photo (jpg format)
                </label>
                <div class="col-sm-9">
                    <input asp-for="FileToUpload" accept="image/jpeg" />
                </div>
            </div>
            <div class="form-group row">
                <input type="submit" value="Uplaod Photo" class="btn btn-primary" />
                &nbsp;
                <span style="color:red;">@ViewData["Message"]</span>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Update">Back to List</a>
</div>

