﻿@model IEnumerable<WebApplication1.Models.Suggestion>

@{
    ViewData["Title"] = "ViewMentor";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}

<h4 class="PageTitle">View Suggestion</h4>

<!-- Add a partial view to display a list of staff records
 in a tabular format. -->
<partial name="~/Views/Student/_ViewMentor.cshtml" model="@Model" />
