﻿@model WebApplication1.Models.Suggestion

@{
    ViewData["Title"] = "PostSuggestion";
    Layout = "~/Views/Shared/_LecturerLayout.cshtml";
}

<h2>Post Suggestion</h2>

<h4>Post Suggestion</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="PostSuggestion">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
            <label asp-for="SuggestionID" class="control-label"></label>
            <input asp-for="SuggestionID" class="form-control" />
            <span asp-validation-for="SuggestionID" class="text-danger"></span>
        </div>*@


            <div class="form-group">
                <label asp-for="LecturerID" class="control-label"></label>
                <input asp-for="LecturerID" class="form-control" />
                <span asp-validation-for="LecturerID" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="StudentID" class="control-label"></label>
                <input asp-for="StudentID" class="form-control" />
                <span asp-validation-for="StudentID" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            @*<div class="form-group">
            <label asp-for="Status" class="control-label"></label>
            <input asp-for="Status" class="form-control" />
            <span asp-validation-for="Status" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="DateCreated" class="control-label"></label>
            <input asp-for="DateCreated" class="form-control" />
            <span asp-validation-for="DateCreated" class="text-danger"></span>
        </div>*@
            <div class="col-md-6 offset-md-4">
                <input type="submit" value="Post" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

