﻿@model WebApplication1.Models.Lecturer

@{
    ViewData["Title"] = "UpdatePassword";
    Layout = "~/Views/Shared/_LecturerLayout.cshtml";
}

<h2>UpdatePassword</h2>

<h4>Lecturer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UpdatePassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <fieldset>
                <label for="oldPass">Old Password:</label>
                <input type="password" name="oldPass"
                       id="oldPass" style="width:100px"
                       required /><br /><br />
                <label for="newPass">New Password:</label>
                <input type="password" name="newPass"
                       id="newPass" style="width:100px"
                       required /><br /><br />
                <label for="confirmPass">Confirm New Password:</label>
                <input type="password" name="confirmPass"
                       id="confirmPass" style="width:100px"
                       required /><br /><br />
                <input type="submit" id="btnUpdatePassword"
                       class="myButton" value="Update Password" />
                <br />
                <span style="color:red;">@TempData["Message1"]</span>
            </fieldset>
        </form>
    </div>
</div>

<div>
    <a asp-action=""></a>
</div>

