﻿@model IEnumerable<WebApplication1.Models.Student>

@{
    Layout = "~/Views/Shared/_LecturerLayout.cshtml";
}


@if (Model.ToList().Count > 0)
{
    <div class="table-responsive">
        <table id="viewStaff" class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Student ID</th>
                    <th>Student Name</th>
                    <th>External Links</th>
                    <th></th>
                    @*<th>Link</th>*@
                    @*<th></th>*@
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.StudentID.ToString()</td>
                        <td>@item.Name</td>
                        <td>@item.ExternalLink</td>
                        <td>
                            <a href="~/Lecturer/PostSuggestion" class="btn btn-primary">Post Suggestion</a>
                        </td>
                        @*<td>@item.ExternalLink</td>*@
                        @*<td>
                            <a asp-action="Edit" asp-controller="Lecturer"
                               asp-route-id="@item.StudentID">Edit</a> |
                            <a asp-action="Details" asp-controller="Staff"
                               asp-route-id="@item.StudentID">Details</a> |
                            <a asp-action="Delete" asp-controller="Staff"
                               asp-route-id="@item.StudentID">Delete</a> </td>*@
                    </tr>}
            </tbody>
        </table>
    </div>
}
else
{
    <span style="color:red">No record found!</span>
}
