﻿.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 50px;
    margin: 4px 2px;
    cursor: pointer;
    justify-content: center;
    height: 160px;
    width: 700px;
    margin-left: 290px;
    margin-top: 60px;
}
