﻿@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);


body {
    margin: 0;
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.6;
    color: #212529;
    text-align: left;
    background-color: #f5f8fa;
}

h2 {
    text-align: center;
    font-size: 70px;
}

.navbar-laravel {
    box-shadow: 0 2px 4px rgba(0,0,0,.04);
}

.navbar-brand, .nav-link, .my-form, .login-form {
    font-family: Raleway, sans-serif;
}

.my-form {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

    .my-form .row {
        margin-left: 0;
        margin-right: 0;
    }

.login-form {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

    .login-form .row {
        margin-left: 0;
        margin-right: 0;
    }

.card-header{
    color:white;
    background-color:#2e2e2e;
}
