﻿@model WebApplication1.Models.SkillSets

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LecturerLayout.cshtml";
}

<h4 class="PageTitle">Add Staff Record</h4> <hr />
<form asp-action="Create">
    <fieldset class="FormContent">

        <div class="form-group row">
            <label asp-for="SkillSetName" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <input asp-for="SkillSetName" class="form-control" />
                <span asp-validation-for="SkillSetName" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">       
        <div class="col-sm-9 offset-sm-3">   
            <input type="submit" value="Create" class="btn btn-primary" /> 
            </div>       
        </div>


        <div>
            <a asp-action="Index">Back to List</a>
        </div>
    </fieldset>
</form>