﻿@model WebApplication1.Models.SkillSets

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LecturerLayout.cshtml";
}

<h4 class="PageTitle">Edit Skill Record</h4> <hr />
<form asp-action="Edit">
    <fieldset class="FormContent">
        <div class="form-group row">
            <label asp-for="SkillSetID" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <input asp-for="SkillSetID" readonly class="form-control-plaintext" />
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="SkillSetName" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <input asp-for="SkillSetName" class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-9 offset-sm-3">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
            <a asp-action="Index">Back to List</a>
    </fieldset>
</form>