﻿@model WebApplication1.Models.SkillSetsViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LecturerLayout.cshtml";
}

<h4 class="PageTitle">View Skill</h4>

<p><a asp-action="Create">Create New Skill</a></p>

    <div class="table-responsive">
        <table id="viewskills" class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>SkillSetID</th>
                    <th>SkillSetName</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.SkillLists)
                {
                    <tr>
                        <td>@item.SkillSetID.ToString()</td>
                        <td>@item.SkillSetName</td>
                        <td>
                            <a asp-action="Edit" asp-controller="SkillSet"
                               asp-route-id="@item.SkillSetID">Edit</a> |
                            <a asp-action="Delete" asp-controller="SkillSet"
                               asp-route-id="@item.SkillSetID">Delete</a> |
                            <a asp-action="Index" asp-controller="SkillSet"
                               asp-route-id="@item.SkillSetID">View Students</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

@{
    if (ViewData["ViewStudents"].ToString() != "")
    {
        if (ViewData["ViewStudents"].ToString() == "Empty")
        {
            <p>No Students have this skillset.</p>
        }

        if (ViewData["ViewStudents"].ToString() == "Full")
        {
            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <thead class="thead-dark">
                        <tr>
                            <th>Student ID</th>
                            <th>Name</th>
                            <th>Photo</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model.StudentLists)
                        {
                        <tr>
                            <td>@item.StudentID</td>
                            <td>@item.Name</td>
                            <td class="studentImg"><img src="~/images/students/@item.Photo" /></td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
    }
}
